<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Push Notification!!!</ion-title>
    <ng-container [ngSwitch]="pushNotifyService.status">
      <ion-badge *ngSwitchCase="0" slot="end" color="danger" mode="ios">0</ion-badge>
      <ion-badge *ngSwitchCase="1" slot="end" color="success" mode="ios">0</ion-badge>
      <ion-badge *ngSwitchCase="3" slot="end" color="warning" mode="ios">0</ion-badge>
      <ion-badge *ngSwitchDefault slot="end" color="primary" mode="ios">0</ion-badge>
    </ng-container>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->

  <ion-list>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h5>{{pushNotifyService.mobile_token}}</h5>
      </ion-label>
    </ion-item>
  </ion-list>
  <hr>
  <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->

  <ion-list>
    <ion-list-header>
      <ion-title>Notifications:</ion-title>
    </ion-list-header>

    <ion-item *ngFor="let item of notifications">
      <!-- class="ion-text-wrap" -->
      <ion-label>
        <h3>{{item.title}}</h3>
        <p>{{item.body}}</p>
        <p [ngClass]="{'bck': item?.background}">

          <small>{{item.data | json}}</small>
          <!-- <small>{{item.date | date: 'dd/MM/yyyy HH:mm:ss'}}</small> -->
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <!-- Clear Notifications -->
      <ion-fab-button (click)="onClearNotifications()">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>

      <!-- Get Notify -->
      <ion-fab-button (click)="onCheckStorage()">
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <!-- Check Storage -->
      <ion-fab-button (click)="onGetNotify()">
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->

</ion-content>
